{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="hero" class="hero d-flex align-items-center">
  <div class="register-box pt-5" style="margin: auto !important; width: 500px !important;">
    <div class="card" >
      <div class="card-body register-card-body">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <p class="login-box-msg">Register a new membership</p>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}